<section id="tools" class="padding-top-100 padding-bottom-0 tools">
    <!-- Angled Section - Start -->
    <div class="angled_down_inside white">
        <div class="slope upleft"></div>
        <div class="slope upright"></div>
    </div>
    <!-- Angled Section - End -->
    <div class="container">
        <div class="row">
            <h2 class="heading">Tools</h2>
            <p class="subheading">Create inspiring visual content in a collaboration with our AI enabled tools</p>

            <div class="features">
                <!-- Feature - Start -->
                <div class="style1" data-effect="fadeInUp">
                    <div class="icon">
                        <i class="mdi mdi-format-paint"></i>
                    </div>
                    <div class="info">
                        <h3 class="title">1. Deep Style</h3>
                        <p class="para">
                            The technique is a much more advanced version of the original
                            Deep Dream approach. It is capable of using its own knowledge
                            to interpret a painting style and transfer it to the uploaded image.
                        </p>
                        <div class="img-wrapper">
                            <a href="https://b2h3x3f6.stackpathcdn.com/assets/landing/img/blend/horizontal/ds_1.jpg" target="_blank">
                                <img src="https://b2h3x3f6.stackpathcdn.com/assets/landing/img/blend/horizontal/ds_1_300x200.jpg" alt="Deep Style example picture" class="img-responsive">
                            </a>
                        </div>
                    </div>
                </div>
                <!-- Feature - End -->
                <!-- Feature - Start -->
                <div class="style2" data-effect="fadeInUp">
                    <div class="icon">
                        <i class="mdi mdi-format-paint"></i>
                    </div>
                    <div class="info">
                        <h3 class="title">2. Thin Style</h3>
                        <p class="para">
                            This tool is a simplified version of the Deep Style one. It is not
                            capable of creating advance transformations but it still shines with some
                            exceptional results. It is also noticeably faster than the Deep Style.
                        </p>
                        <div class="img-wrapper">
                            <a href="https://b2h3x3f6.stackpathcdn.com/assets/landing/img/blend/horizontal/ts.jpg" target="_blank">
                                <img src="https://b2h3x3f6.stackpathcdn.com/assets/landing/img/blend/horizontal/ts_300x200.jpg" alt="Deep Style example picture" class="img-responsive">
                            </a>
                        </div>
                    </div>
                </div>
                <!-- Feature - End -->
                <!-- Feature - Start -->
                <div class="style3" data-effect="fadeInUp">
                    <div class="icon">
                        <i class="mdi mdi-format-paint"></i>
                    </div>
                    <div class="info">
                        <h3 class="title">3. Deep Dream</h3>
                        <p class="para">
                            Initially it was invented to help scientists and engineers
                            to see what a deep neural network is seeing when it is
                            looking in a given image. Algorithm becomes
                            a new form of psychedelic and abstract art.
                        </p>
                        <div class="img-wrapper">
                            <a href="https://b2h3x3f6.stackpathcdn.com/assets/landing/img/blend/horizontal/dd.jpg" target="_blank">
                                <img src="https://b2h3x3f6.stackpathcdn.com/assets/landing/img/blend/horizontal/dd_300x200.jpg" alt="Deep Style example picture" class="img-responsive">
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>