<html>
<head>
<style>
div.gallery {
  margin: 5px;
  border: 2px solid #ccc;
  float: left;
  width: 180px;
}

div.gallery:hover {
  border: 1px solid #777;
}

div.gallery img {
  width: 100%;
  height: 100%;
}

div.desc {
  padding: 15px;
  text-align: center;
}
</style>
</head>
<body>

<div class="gallery">
  <a target="_blank">
    <img src="https://www.romeprivateguides.com/upload/CONF87/20170811/Cinque_terre_travel_manarola-tSa-727X360.jpg" alt="Cinque Terre" width="600" height="400">
  </a>
</div>

<div class="gallery">
  <a target="_blank">
    <img src="https://scx2.b-cdn.net/gfx/news/2018/europeslostf.jpg" alt="Forest" width="600" height="400">
  </a>
</div>

<div class="gallery">
  <a target="_blank">
    <img src="https://www.usnews.com/dims4/USNEWS/c861844/2147483647/thumbnail/640x420/quality/85/?url=http%3A%2F%2Fcom-usnews-beam-media.s3.amazonaws.com%2F16%2F7e%2Fdb70a6cd4611b0f82e3bd4bf0cd8%2F1-intro-getty.jpg" alt="Northern Lights" width="600" height="400">
  </a>
</div>

<div class="gallery">

    <a target="_blank">

    <img src="https://cdn.pixabay.com/photo/2015/12/01/20/28/road-1072823__340.jpg" alt="Mountains" width="600" height="400">

</a>

</div>

<div class="gallery">

    <a target="_blank">

        <img src="https://images.unsplash.com/photo-1522277245807-5e608aa8adcd?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&w=1000&q=80" alt="Mountains" width="600" height="400">

    </a>
  
</div>
 
  <div class="gallery">

    <a target="_blank">

        <img src="https://lh3.googleusercontent.com/proxy/ZJDH1WPBySJRoTuhi39wI16ZubyNGh8FdDis3IH7I7eG8275WQutr3CYUpSeLOrTtRszus4AbfLXr_Yuuo_bhsXLDK-5I30LD7d4BhHQSrzjljZPn3ctozg-RmYD" alt="Mountains" width="600" height="400">

    </a>

</div>

  <div class="gallery">

    <a target="_blank">

        <img src="https://cdn.pixabay.com/photo/2019/06/12/07/44/road-4268577_960_720.jpg" alt="Mountains" width="600" height="400">

    </a>

</div>

<div class="gallery">

    <a target="_blank">
      
        <img src="https://3.imimg.com/data3/DX/BH/MY-14585677/natural-photography-500x500.jpg" alt="Mountains" width="600" height="400">
    
    </a>
  
</div>
  
  <div class="gallery">
    
    <a target="_blank">
      
        <img src="https://img.redbull.com/images/c_fill,g_auto,w_1500,h_1000/q_auto,f_auto/redbullcom/2015/07/27/1331737542701_2/moon-hill-natural-bridge-in-china" alt="Mountains" width="600" height="400">
    
    </a>

  </div>
          
</body>

</html>