<!DOCTYPE html>
<html>
    <body>
        <header>
            <div id="login-box" class="main-div">
                  <h1>Login</h1>
                    <input [(ngModel)]="email"  type="text" name="email" placeholder="Email"/>
                    <input [(ngModel)]="password" type="password" name="password" placeholder="Password"/>
                  
                    <input type="submit" (click)="submit()" name="signup-button" value="Login" class="submit-btn"/>
              </div>
        </header>
    </body>
</html>