<div class="card">
    <section id="tools" class="padding-top-100 padding-bottom-0 tools">
        <!-- Angled Section - Start -->
        <div class="angled_down_inside white">
            <div class="slope upleft"></div>
            <div class="slope upright"></div>
        </div>
        <!-- Angled Section - End -->
        <div class="container">
            <div class="row">
            <div class= "galhead">
                <img class="galimg" src="https://image.flaticon.com/icons/svg/1590/1590898.svg" />
                <h2 class="heading">Gallery</h2>
            </div>
                <div class="features">
                    <!-- Feature - Start -->
                    <div class="style1" data-effect="fadeInUp">
                        <div class="info">
                            <a (click)="SubComp('grid')" class="title">Gallery Grid</a>
                        </div>
                    </div>
                    <!-- Component - End -->
                    <!-- Compnent - Start -->
                    <div class="style2" data-effect="fadeInUp">
                        <div class="info">
                            <a (click)="SubComp('stream')" class="title">Gallery Stream</a>
                        </div>
                    </div>
                    <!-- Component - End -->
                </div>
            </div>
            <div class="nestComp">
                <ng-container *ngComponentOutlet="galSubComp"></ng-container>
            </div>
        </div>
    </section>
</div>
